<template>
    <div class="panel" id="example-{{ example.id }}">
        <div class="panel-heading">
            <h1>{{ example.title }}
                <span class="label label-primary pull-right">{{ example.upvotes | signed}}</span>
            </h1>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div id="markdownEditor"  @keyup="updateMarkdown | debounce 100">{{ example.markdown }}</div>
            </div>
            <div id="exampleMarkdown" class="col-md-6">{{{ example.markdown | marked }}}</div>
        </div>
        <div class="panel-footer">
            <p>Created by {{ example.username }} on {{ example.created_at }} last updated on {{ example.updated_at }}</p>
            <span v-for="tag in example.tags" class="label label-primary" style="margin-right: 1em;">{{ tag.tag }}</span>
        </div>
    </div>
</template>
<style>
    #markdownEditor {
        position: relative;
        width: auto;
        height: 400px;
    }
</style>
<script>
    var marked = require("marked");

    marked.setOptions({
        ghm: true
    });

    var pygmentize = require('pygmentize-bundled');

    export default{
        data() {
            return {
                markdownEditor: undefined
            }
        },
        props: ['example'],
        methods: {
            updateMarkdown: function(){
                this.example.markdown = this.markdownEditor.getValue().replace(/>/g, '&gt;').replace(/</g, '&lt;');
            }
        },
        filters: {
            marked: marked,
            signed: function(upvotes){
                if(upvotes > 0){
                    return "+ " + upvotes;
                }else{
                    return upvotes;
                }
            }
        },
        created(){
            this.example = JSON.parse(this.example);
        },
        ready() {
            this.markdownEditor = ace.edit("markdownEditor");
            var MarkdownMode = ace.require('ace/mode/markdown').Mode;
            this.markdownEditor.setTheme("ace/theme/twilight");
            this.markdownEditor.session.setMode(new MarkdownMode());
            this.markdownEditor.setFontSize(14);

            $('#markdownEditor').height($('#exampleMarkdown').height());
        }
    }
</script>