<template>
    <div class="row">
        <div class="col-md-12">
            <h2>Let's learn how to paginate.  This is peak complexity for this demo</h2>
            <pagelinks :currentpage="currentpage" :pagecount="pagecount"></pagelinks>
            <div v-for="example in examples">
                <example :example="example" showhide="false"></example>
            </div>
            <pagelinks :currentpage="currentpage" :pagecount="pagecount"></pagelinks>
        </div>
    </div>
</template>
<style>
</style>
<script>
    import PageLinks from '../demoComponents/pagelinks.vue';
    import Example from '../demoComponents/example.vue';

    export default{
        components: {
            example: Example,
            pagelinks: PageLinks
        },
        data(){
            return{
                examples: [],
                currentpage: 1,
            }
        },
        //Suck in the pagecount prop (passed in by laravel/blade)
        props: {
            pagecount: {
                required: true,
                type: Number,
                coerce: function(val){return parseInt(val);}
            }
        },
        events: {
            'gotoPage': function(page) {
                this.$http.get('/example/public/api/examples?page='+page).then(function(response){
                    this.$set('examples', response.data.data);
                    this.currentpage = page;
                });
            }
        },
        ready(){
            this.$http.get('/example/public/api/examples').then(function(response){
                this.$set('examples', response.data.data);
            });
        }
    }
</script>