@import "resources/assets/sass/bootstrap/_bootstrap.scss";

textarea {
  color: $text-color;
  background-color: $brand-blue;
}

.ace-twilight {
  background-color: $brand-blue !important;
}

.ace-twilight .ace_gutter {
    background: lighten($brand-blue, 5%) !important;
}

.navbar {
  border-bottom: 1px solid darken($brand-light, 5%);
  box-shadow: 0px 2px 0px 0px $brand-blue-light;
}

input {
  color: $brand-blue;
}